@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.max-w-custom {
  max-width: 80%; /* Adjust the value as needed */
}

/* openai CSS */
.openai-text p {
  margin-bottom: 1rem;
}


.openai-text h1 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text h2 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}


.openai-text h3 {
  font-size: large;
  font-weight: bold;
  margin-top: 1rem;
}

.openai-text code {
  font-size: small;
  padding: 1rem;
  overflow-x: auto;
  display: block;
  background-color: black;
  color: white;
}

.page-background {
  background-image: url(/background_landscape.png);
  background-size: cover; /* or 'contain' depending on your preference */
  background-repeat: no-repeat;
  background-position: center center;
}

body {
  background-color: rgba(255, 255, 255, 0.8);
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(/background_landscape.png);
  box-shadow: none;
  z-index: 999;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  background-image: url(/background_landscape.png);
  box-shadow: none;
  z-index: 999;
}

main {
  margin-top: 12vh; /* Adjust this value based on the height of the header */
  margin-bottom: 10vh; /* Adjust this value based on the height of the footer */
  overflow-y: auto;
  box-shadow: none;
  background-color: rgba(255, 255, 255, 0.8);
}
